<div class="grid-container">
	<div class="grid-item" *ngFor="let movie of movies" (click)="onMovieSelect(movie)">
		<div><img class="poster_img" src="{{'https://www.themoviedb.org/' + 't/p/w220_and_h330_face' + movie.poster_path}}" alt="{{movie.original_title}}"></div>
		<div class="content">
			<strong>{{movie.original_title}}</strong>
			<p>{{movie.release_date | date: 'longDate'}}</p>
		</div>
	</div>
</div>

<ngx-spinner 
	bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
	type="square-jelly-box" [fullScreen]="true">
</ngx-spinner>

